$white-color: #ffffff;
$button-color: #ff4e50;
$black-color: #444444;
$offwhite-color: #f7f3f2;
$xz-color: #e3e3e3;
$link-color: #999999;
$xz-xz-color: #666666;
$searh__border-color: #d4d4d4;
$logo-color: #cccccc;
$font-montserrat: Montserrat;
$bold-weight: bold;
$normal-weight: normal;
$normal-style: normal;
$font-roboto: Roboto;
$light-weight: 300;
$breakpoint-tablet: 768px;
$breakpoint-phones: 320px;
